@import "variables";

.contact {
  @extend %primary;
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  .card {
    .title {
      text-align: center;
    }
    max-width: 700px;
  }
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
