.taskbase-details-wrapper{
  .text-column {
    max-width: 650px;
    text-align: justify;
  }

  .detail-row {
    padding-bottom: 40px;
  }

  .detail-image {
    padding:20px;max-width: 140px; margin: 0 auto;
  }

  h2 {
    padding-top: 10px;
  }

  p {
    font-size: 15px;
    line-height: $golden-ratio;
  }

  h3 {
    padding-top: 5px;
  }

}
