.curriculum-wrapper {

  padding: 0 25px;
  margin: 0;

  .small-text {
    font-size: 12px;
  }

  #txtarea {
    padding-bottom:20px;
    padding-top:10px;
    display: block;
    width: 100%;
  }


}
