<div class="footer-wrapper">
  <footer class="footer" ng-class="{'light': secondaryFooter()}">
    <div class="container">
      <p  class="text-muted"  ng-class="{'center': secondaryFooter()}" style="font-size: 12px; margin: 15px 0 13px 0px">
        <span>
          Copyright &copy; 2016
          <a href="https://www.taskbase.com" class="light-link">Taskbase</a>
          <a href="mailto:info@taskbase.com" class="light-link">(info@taskbase.com)</a>
          <span ng-if="urlContains('e-maths')"> and Enrico DeGiorgi</span>,
          {{'all rights reserved' | translate}}.
          <a class="light-link" ui-sref="impressum">Impressum</a> |
          <a class="light-link" target="_blank" download href="/assets/files/agb.pdf">AGB</a>
        </span>
      </p>

    </div>
  </footer>
</div>
