<div class="regular-page">
  <mat-card>
    <h1>Impressum</h1>
    <br>
    <div style="font-size:20px">
      <div>
        <i class="fa fa-star center"  style="width: 30px;" aria-hidden="true"></i> Taskbase AG
      </div>
      <br>
      <div>
        <i class="fa fa-map-marker center" style="width: 30px;" aria-hidden="true"></i> Langstrasse 119, 8004 Zürich (CH)
      </div>
      <br>
      <div>
        <i class="fa fa-phone center" style="width: 30px;" aria-hidden="true"></i> +41 (0) 79 817 74 19
      </div>
      <br>
      <div>
        <i class="fa fa-envelope center" style="width: 30px;" aria-hidden="true"></i>
        <a href="mailto:info@taskbase.com">info@taskbase.com</a>
      </div>
    </div>
  </mat-card>
</div>
