<div class="jumbo">
  <div class="content-container">
    <div class="jumbo-content">
      <div class="titles">
        <h1 class="big">Wir entwickeln Ihre interaktive Lernlösung</h1>
        <h2 class="params">
          Wir sind ein Team von Spezialisten, das Ihre Lernlösungen mit führenden Technologien, agilem Projektmanagement und viel Leidenschaft umsetzt.
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row team-page-content justify-content-center">
    <div *ngFor="let teamMember of teamMembers" class="col-lg-4 col-md-6">
      <app-business-card [teamMember]="teamMember"></app-business-card>
    </div>
  </div>
</div>
<app-googlmaps></app-googlmaps>
<app-address></app-address>

