// Color Scheme
$primary-color: #009688;
$primary-color-contrast: #FFFFFF;
%primary {
  background: $primary-color;
  color: $primary-color-contrast
}
%primary-inverse {
  background: $primary-color-contrast;
  color: $primary-color;
}

$primary-color-dark: #265840;
$primary-color-dark-contrast: #FFFFFF;
%primary-color-dark {
  background: $primary-color-dark;
  color: $primary-color-dark-contrast
}

$black:#000000;
$black-contrast: #FFFFFF;
%black {
  background: $black;
  color: $black-contrast
}

$dark-gray: #1E1E1E;
$dark-gray-contrast: #FFFFFF;
%dark-gray {
  background: $dark-gray;
  color: $dark-gray-contrast
}


$secondary-color: #F1E198;
$secondary-color-contrast: $dark-gray;
%secondary {
  background: $secondary-color;
  color: $primary-color-contrast
}
%secondary-inverse {
  background: $secondary-color-contrast;
  color: $secondary-color;
}


$background-gray: #DEDEDE;
$background-gray-contrast: #000000;
%background-gray {
  background: $background-gray;
  color: $background-gray-contrast
}


$background-white: #FFFFFF;
$background-white-contrast: #000000;
%background-white {
  background: $background-white;
  color: $background-white-contrast
}

$charcoal:#434343;
$charcoal-contrast: #FFFFFF;
%charcoal {
  background: $charcoal;
  color: $charcoal-contrast
}


// padding
%default-padding {
  padding: 20px;
}

// font sizes
$font-size-default: 16px;
$font-size-h3: 20px;

// breakpoints:
$breakpoint-xs-max: 399px;
$breakpoint-s-min: 400px;
$breakpoint-s-max: 599px;
$breakpoint-m-min: 600px;
$breakpoint-m-max: 999px;
$breakpoint-l-min: 1000px;

// flex center center
%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$navbar-height: 50px;
$footer-height: 50px;

$mat-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

$linear-gradient: linear-gradient(to bottom right, $primary-color, #2CBFA2);
%background-gradient {
  background-image: $linear-gradient;
  color: white;
}

%center-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
