@import "./styles/theme";

@import './variables';

@import './styles/html';
@import './styles/a';
@import './styles/body';
@import './styles/button';
@import './styles/img';
@import './styles/h1-h6';
@import './styles/ul';


.content-container, .regular-page {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width: $breakpoint-s-min) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.regular-page {
  padding-top: 20px;
  padding-bottom: 20px;
}
