@import "variables";

:host {

  background: #FFFFFF;
  display: block;

}

.showcases {
  padding: 50px;
  text-align: center;

  .title {
    color: #454545;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 50px;
  }


  .logowrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .texttop{
      margin: 0;
    }

    .logo {
      width: 500px;
      height: auto;
    }

    .textbottem{
      color: #454545;
      margin-top: -30px;
    }
  }
}
