<div class="exercise-box">
  <div class="exercise">
    <div class="header">
      <div class="title">Postkarten-Aufgabe</div>
    </div>
    <div class="progressbar">
      <div class="progress"></div>
    </div>
    <div class="stimulus">
      Nenne drei Elemente des nachfolgenden Textes (stichwortartig), die für die
      Textsorte «Ansichtskarte» typisch sind.
    </div>
    <div class="postcard">
      <div class="text">
        Hallo Jens <br />
        <br />
        Nach einer Fahrt quer durch Kalifornien mit eindrücklichen
        Küstenlandschaften, architektonischen Highlights und super feinen
        Fischgerichten geniessen wir nun die unglaubliche Natur auf den
        Paradiesinseln Hawaiis. Ich schicke dir viele Sonnenstrahlen von der
        Westküste ins neblige St. Gallen, davon haben wir hier mehr als genug!
        <br />
        <br />
        Flurina
      </div>
    </div>
    <div class="student-input" *ngIf="!showFeedback">
      <textarea
        class="textfield"
        [(ngModel)]="studentInput"
        placeholder="Deine Antwort..."
      ></textarea>
    </div>
    <div class="feedback" *ngIf="showFeedback">
      {{ feedback }}
    </div>
    <div class="finale">
      <div class="circle-button" (click)="check()">
        <img src="/assets/img/plus.png" alt="Überprüfen" />
      </div>
    </div>
  </div>
</div>
