<div class="content-container">
  <div class="project">
    <img src="assets/img/project/left.svg" class="bbpicsleft">
    <img src="assets/img/project/leftsmall.svg" class="bbpicsleftsmall">
    <img src="assets/img/project/right.svg" class="bbpicsright">
    <h1 class="title">Unser Angebot</h1>
    <h2 class="text">
      Wir entwickeln laufend neue <a id="project-techpart-link-1" class="red" href="#techpart">Technologiebausteine</a>, die wir für Ihre
      interaktiven Lernanwendungen modular kombinieren können (Software as a Service).
      Dabei stellt unser <a id="project-team-link" class="red" routerLink="team">passioniertes Team</a> Ihre individuellen Konzepte in den
      Mittelpunkt und schafft einzigartige Lernerlebnisse.
    </h2>
    <img src="assets/img/arrow.png" class="arrow">
    <div class="partwrapper">
      <a id="project-techpart-link-2" class="part" href="#techpart">
        <img src="assets/img/saas.png" class="image">
        <div class="borderbox">
          <h1 class="redbox">Technologiebausteine</h1>
          <h2 class="text">
            Hochschulpartnerschaften mit führenden Universitäten in der Schweiz ermöglichen es uns, wegweisende
            Technologiebausteine zu entwickeln.
          </h2>
        </div>
      </a>
      <a id="project-team-link-2" class="part" routerLink="team">
        <img src="assets/img/team.png" class="image">
        <div class="borderbox">
          <h1 class="redbox">Passioniertes Team</h1>
          <h2 class="text">
            Unser Team garantiert optimale Flexibilität und Anpassbarkeit von der Konzeption bis hin zum Betrieb. Mit
            Leidenschaft bauen wir auch Ihre individuelle Lernlösung. </h2>
        </div>
      </a>
    </div>
  </div>
</div>
