$gray0: #f6f7f8;
$gray1: #e9eaed;
$gray2: #efefef;
$gray3: #d8d8dc;
$gray4: #ccc;
$gray5: #b7b7b7;
$gray6: #999;
$gray8: #666;
$gray7: #808080;
$gray9: #434343;
$dark: #434343;

$gray-line: #eee;
$gray-hover: #f8f8f8;
$gray-444: #444;
$gray-222: #222;

//White's & Blacks
$white: #fff;
$black: #000;
$milkwhite: #f5f5f5;

//Basic colors
$green: #479f4b;
$beige: #f2e394;
$orange: #FF9900;
$red: #e33b3b;
$wine: #8b4647;

//widths
$page-width: 900px;
$xs: 767px;

//lights
$light-green: lighten($green, 10%);
$light-beige: lighten($beige, 20%);
$light-red: lighten($red, 20%);
$light-orange: lighten($orange, 25%);

//darks
$dark-beige: darken($beige, 20%);
$dark-orange: darken($orange, 20%);
$dark-green: darken($green, 20%);
$dark-red: darken($red, 20%);

// fonts
//$main-font: 'Roboto',Helvetica Neue,sans-serif;
$main-font: 'Lato', sans-serif;
$latex-font: 'Times New Roman', Times, serif;

//material design
$primary: #009688;
$primary-light: #ebf2f0;
$primary-dark: #226C70;

$accent: #009688;
$accent-light: #4db6ac;
$accent-dark: #00796b;

$prominent: #0AB2AB;

$background-gray: #f9f9f9;

//other variables
$shadow-color: #999;

//shadows
$drop-shadow: 0 8px 6px -6px $shadow-color;
$up-shadow: 0 -8px 6px -6px $shadow-color;
$card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

//darks
$text: #212121;
$icons: #727272;
$disabled: #b8b8b8;
$dividers: #dadada;

//Link colors
$link-blue: $accent;
$link-hover-blue: $accent-dark;

//Greens
$green: #009688;

//sizes
$header-height: 50px;
$footer-height: 45px;
$golden-ratio: 161.8%;