<div class="jumbo-wrapper">
  <div class="content-container">
    <div class="jumbo-container">
      <div class="headline">
        <h1 class="title">Rechtschreibprüfung</h1>
      </div>
      <img src="/assets/img/roboSpell.png" class="image" />
      <div class="jumbo-content">
        <h2 class="title">
          <b
            >Gib einen beliebigen Text in das dafür vorgesehene Textfeld ein.
            Wenn du auf "Antworten" klickst, wird dieser mit der Taskbase
            Rechtschreibprüfung kontrolliert.</b
          >
        </h2>
        <app-marker-question
          (changedText)="changedText($event)"
          [studentInput]="studentInput"
        ></app-marker-question>
        <br />
        <button
          id="check"
          class="button"
          (click)="evaluate()"
          *ngIf="showAnswerButton"
        >
          Antworten
        </button>
        <div class="feedback" *ngIf="simulation">
          <div class="feedbacktext">
            <h2 class="tile">
              Da es sich hier um einen Showcase und nicht um eine "wirkliche"
              Aufgabe handelt, können wir eine mögliche Schülereingabe
              simulieren.
            </h2>
            <h2 *ngIf="simulation">
              <a class="link" (click)="simulate()">Schülereingabe simulieren</a
              ><br />
            </h2>
          </div>
        </div>
        <tb-feedback
          *ngIf="!simulation"
          [title]="title"
          [feedback]="spellCheckFeedback"
        ></tb-feedback>
        <br />
        <button
          id="repeat"
          class="button"
          (click)="back()"
          *ngIf="showRepeatButton"
        >
          Wiederholen
        </button>
        <div class="error"></div>
      </div>
    </div>
  </div>
</div>
