.mc-wrapper {
  padding-left: 30px;
  position: relative;

  .remove {
    display: none;
  }

  md-checkbox.md-checkbox-correct > .md-container > .md-icon {
    background: $primary;
  }

  /*
  md-checkbox.md-checkbox-incorrect > .md-container > .md-icon {
    background: $red;
  }*/


  //todo work with comma instead
  &:hover {
    .remove {
      position: absolute;
      left: 6px;
      top: 2px;
      display: block;
    }
  }
  .tick-or-cross {
    position: absolute;
    left: 6px;
    top: 2px;
    display: block;
  }


  .answer-stats {
    position: absolute;
    left: -13px;
    top: 2px;
    display: block;
  }

  .correct-answer {
    position: absolute;
    left: 24px;
    top: 2px;
    display: block;
  }
}
