<div class="footer-wrapper">
  <footer class="footer">
    <div class="container">
    
      <p class="text-muted" style="font-size: 12px; margin: 20px 0 5px 0">
        Copyright &copy; 2015 edTechLab AG <span ng-if="urlContains('e-maths')"> and Enrico DeGiorgi</span>. All Rights Reserved. <a href="mailto:info@edtechlab.ch" class="light-link">info@edtechlab.ch</a>
        <a class="pull-right hidden-xs" href="http://www.edtechlab.ch" target="_blank" >
          <img src="assets/img/logos/edTechLab.png" alt="" style="height: 40px; margin-top: -10px">
        </a>
      </p>

      <p class="text-muted" style="font-size:8px; margin: 5px 0">
        Icons made by
        <a href="http://www.flaticon.com/authors/freepik" title="Freepik" class="light-link">
            Freepik
        </a>
        from
        <a href="http://www.flaticon.com" title="Flaticon" class="light-link">
            www.flaticon.com
        </a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" class="light-link">
            CC BY 3.0
        </a>
      </p>

    </div>
  </footer>
</div>
