<div class="pricing-wrapper no-padding-view">
  
  <div class="grad1">
    <div style="color: white; font-size: 40px; padding: 100px 0 100px 0" class="center">
      <div style="padding-bottom: 20px">
        Weniger als ein Gipfeli
      </div>
      <img src="/assets/img/icons/croissant.svg"
           height="70"
           alt="Croissant">
      
      <spacer></spacer>
      
      <div style="font-size: 20px;">
        Transparenter Preis, monatliche Flatrate
      </div>
    </div>

  </div>
  
  <br><br>
  
  <pricing></pricing>

</div>
