<div class="question">
  <div class="container">
    <h2 class="title" [ngStyle]="questionStyles">
      <div [innerHTML]="stimulus"></div>
    </h2>
    <tb-highlight-text
      *ngIf="!displayHighlightSolution"
      [tokens]="tokens"
      [selectedColor]="highlightColor"
      (tokensChanged)="onTokensChanged($event)"
    >
    </tb-highlight-text>
    <tb-highlight-grading
      *ngIf="displayHighlightSolution"
      [tokens]="gradedTokens"
    >
    </tb-highlight-grading>
  </div>
</div>
