@import "variables";

:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  @extend %main-gradient;
}

.bbpics {
  position: absolute;
  top: 0px;
  opacity: 1;
  &.bbpicsright {
    right: 70px;
    @media (min-width: 1201px) and (max-width: 1515px) {
      right: 10px;
      width: 250px;
    }

    @media (min-width: 0px) and (max-width: 1200px) {
      display: none;
    }
  }
  &.bbpicsleft {
    left: 70px;

    @media (min-width: 1201px) and (max-width: 1515px) {
      width: 250px;
      left: 10px;
      top: 200px;
    }

    @media (min-width: 0px) and (max-width: 1200px) {
      display: none;
    }
  }
}

.contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  // min-height: 430px;
  padding-bottom: 20px;
  // width: 60%; // REVIEW
  max-width: 800px;

  .title {
    padding-top: 70px;
    text-align: center;
    color: #ffffff;
  }

  .title2 {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 5px;
    outline: none;
  }
}

.form-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .error {
    color: $orange;
  }
}
