@import '../variables.scss';

// destyled button
button {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: $font-size-default;
  padding: 0;
  &:focus {
    outline: none;
  }
}
