<div class="jumbo-wrapper">
  <div class="content-container">
    <div class="jumbo-container">
      <div class="headline">
        <h1 class="title">Zusammenfassung</h1>
      </div>
      <img src="/assets/img/roboSummary.png" class="image" />
      <div class="jumbo-content">
        <div class="text">
          <b
            >Fasse den Text in eigenen Worten und mit maximal 500 Zeichen
            zusammen.</b
          >
        </div>
        <div class="text">Von Menschen und Maschinen</div>
        <div class="text wrapped">{{ summaryText }}</div>
        <app-marker-question
          [studentInput]="input"
          (changedText)="inputChange($event)"
        >
        </app-marker-question>
        <br />
        <div class="buttons">
          <button id="check" class="answer-button" (click)="evaluate()">
            Antworten
          </button>
          <div
            id="simulateInput"
            class="simulate-button"
            (click)="simulateInput()"
          >
            Schülereingabe simulieren
          </div>
        </div>
        <spinner *ngIf="isLoading === true" color="primary"></spinner>

        <div class="evaluation" *ngIf="grading != null">
          <div class="evaluation-title">Auswertung</div>
          <ul class="fa-ul app-ul-no-bullets">
            <li class="text" *ngFor="let feedback of grading.feedback">
              <span class="fa-li" *ngIf="feedback.valence === true"
                ><i class="symbol fa fa-plus-circle"></i></span
              ><span class="fa-li" *ngIf="feedback.valence !== true"
                ><i class="symbol fa fa-minus-circle"></i></span
              >{{ feedback.description }}
            </li>
          </ul>
          <div class="progressbar">
            <app-progressbar
              class="progressbar"
              [name]="'Inhalt'"
              [input]="grading.content"
              [maximum]="MAX_POINTS"
            ></app-progressbar>
          </div>
          <div class="progressbar">
            <app-progressbar
              class="progressbar"
              [name]="'Orthographie'"
              [input]="grading.spelling"
              [maximum]="MAX_POINTS"
            ></app-progressbar>
          </div>
          <div class="progressbar">
            <app-progressbar
              [name]="'Grammatik'"
              [input]="grading.grammar"
              [maximum]="MAX_POINTS"
            ></app-progressbar>
          </div>
          <div class="progressbar">
            <app-progressbar
              class="progressbar"
              [name]="'Wortwahl'"
              [input]="grading.diversity"
              [maximum]="MAX_POINTS"
            ></app-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
