@import "variables";

.evaluation {
  margin-top: 25px;
  background: none;
  min-height: 150px;
  border-color: white;
  border-style: dotted;
  border-width: 2px;
  padding: 20px;
  .evaluation-title {
    font-size: 26px;
    color: $primary-color-contrast;
    margin-bottom: 20px;
  }
  li {
    display: flex;
    align-items: center;
    .symbol {
      vertical-align: text-top;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  .answer-button {
    color: $dark-gray;
  }

  .simulate-button {
    color: $orange;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

.text {
  color: $primary-color-contrast;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
  &.wrapped {
    max-height: 300px;
    overflow: auto;
  }
}

.text-field {
  height: 100px;
  width: 100%;
  font-family: inherit;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: inherit;

  border: none;
  border-style: none;
  outline: none;
  overflow: auto;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.progressbar {
  margin-top: 10px;
}
