@import "b8fd4a2c-reset.css";
@import "c1574cbf-font.css";

:root {
  --vh100: 100vh;
  --page-padding: 1.25rem;
  --header-height: 67px;
  --footer-height: 343px;

  --color-bggray: #f5f5f5;
  --color-lightgray: #e6e6e6;
  --color-gray: #b3b3b3;
  --color-purple: #5d63c7;
  --color-black: #000;
  --color-white: #fff;
  --color-green: #a0fbdd;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.652rem; /* 10px */
  --font-size-s: 0.75rem; /* 12px */
  --font-size-m: 0.875rem; /* 14px */
  --font-size-l: 1.25rem; /* 20px */
  --font-size-xl: 1.875rem; /* 30px */
  --font-size-xxl: 1.875rem; /* 30px */
}

@media screen and (min-width: 768px) {
  :root {
    --page-padding: 2.375rem;

    --font-size-l: 1.875rem; /* 30px */
    --font-size-xl: 2.5rem; /* 40px */
    --font-size-xxl: 3.125rem; /* 50px */
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --page-padding: 3.75rem;

    --font-size-l: 2.1875rem; /* 35px */
    --font-size-xl: 3.125rem; /* 50px */
    --font-size-xxl: 3.75rem; /* 60px */
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --page-padding: 3.75rem;

    --font-size-l: 2.8125rem; /* 45px */
    --font-size-xl: 3.75rem; /* 60px */
    --font-size-xl: 3.6875rem; /* 75px */
  }
}

::-moz-selection {
  color: var(--color-white);
  background: var(--color-purple);
}

::selection {
  color: var(--color-white);
  background: var(--color-purple);
}

/* Appear transitions */

.will-appear {
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  backface-visibility: hidden;
  will-change: transform, opacity;
  transition: transform 800ms ease, opacity 800ms ease;
}

.did-appear {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .will-appear {
    transform: translate3d(0, 50px, 0);
  }

  .did-appear {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 1440px) {
  .will-appear {
    transform: translate3d(0, 80px, 0);
  }

  .did-appear {
    transform: translate3d(0, 0, 0);
  }
}

/* Smooth Scroll */

.scrolling-container {
  height: var(--vh100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollbar-track {
  background-color: transparent !important;
}

.scrollbar-thumb {
  left: -2px !important;
}

/* Responsive Image */

.responsive-image {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  will-change: padding-top;
}

.responsive-image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(1.02);
  transition: opacity 800ms ease, transform 800ms ease;
  will-change: opacity, transform;
}

.responsive-image img.did-appear {
  opacity: 1;
  transform-origin: bottom;
  transform: scale(1);
}

/* Base Styles */

body {
  font-family: "Inter", sans-serif;
  font-weight: var(--font-weight-semibold);
  line-height: 1.5;
  font-size: var(--font-size-m);
  opacity: 1;
  transition: opacity 500ms ease;
}

body.state--hidden {
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 0.75rem 4rem 0.75rem 1.25rem;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 200ms ease, color 200ms ease;
}

.button::after {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 17px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent var(--color-white);
  transition: border-color 200ms ease;
}

.button:hover {
  background-color: var(--color-green);
  color: var(--color-purple);
}

.button:hover::after {
  border-color: transparent transparent transparent var(--color-purple);
}

.button--invert {
  background-color: var(--color-white);
  color: var(--color-purple);
}

.button--invert::after {
  border-color: transparent transparent transparent var(--color-purple);
}

/* Header */
.header {
  border-bottom: 1px solid var(--color-lightgray);
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
}

.header__logo {
  display: inline-block;
  max-height: 18px;
}

.header__logo svg {
  height: 18px;
  width: auto;
  transition: fill 200ms ease;
  fill: var(--color-black);
}

.header__logo:hover svg {
  fill: var(--color-purple);
}

.header__button {
  display: inline-block;
  font-size: var(--font-size-m);
  border-left: 1px solid var(--color-lightgray);
  padding: 1.5rem;
  text-decoration: none;
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
  transition: color 200ms ease;
}

.header__button:hover {
  color: var(--color-purple);
}

.header__nav-link {
  padding-right: 4rem;
  position: relative;
  transition: color 200ms ease;
}

.header__nav-link.state--active {
  color: var(--color-purple);
}

.header__nav-link span {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  display: block;
  width: 13px;
  height: 1px;
  background-color: var(--color-black);
}

.header__nav-link span::after {
  content: "";
  position: absolute;
  top: -5px;
  display: block;
  width: 13px;
  height: 1px;
  background-color: var(--color-black);
  transition: top 200ms linear;
}

.header__nav-link span::before {
  content: "";
  position: absolute;
  top: 5px;
  display: block;
  width: 13px;
  height: 1px;
  background-color: var(--color-black);
  transition: top 200ms linear;
}

.header__nav-link.state--active span::before,
.header__nav-link.state--active span::after {
  top: 0;
}

.header__contact-link {
  display: none;
}

.header__home-link {
  padding-left: 4rem;
  position: relative;
}

.header__home-link::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  top: 31px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 7px 4px 0;
  border-color: transparent var(--color-black) transparent transparent;
  transition: border-color 200ms ease;
}

.header__home-link:hover::after {
  border-color: transparent var(--color-purple) transparent transparent;
}

@media screen and (min-width: 768px) {
  .header__contact-link {
    display: inline-block;
  }

  .header__contact-link.state--active {
    background-color: var(--color-purple);
    color: var(--color-white);
  }
}

@media screen and (min-width: 1024px) {
  .header__nav-link {
    display: none;
  }
}

/* Main */
.main {
  flex: 1;
}

.richtext h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
  color: var(--color-purple);
}

.richtext h2 {
  font-size: var(--font-size-l);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.richtext h3 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.richtext p {
  margin-bottom: 1rem;
}

.richtext strong {
  font-weight: var(--font-weight-bold);
}

.richtext em {
  font-style: italic;
}

.richtext ol {
  margin-bottom: 1rem;
  list-style-type: decimal;
  padding-left: 1rem;
}

.richtext ul {
  margin-bottom: 1rem;
  list-style-type: disc;
  padding-left: 1rem;
}

.richtext li {
  padding-left: 1rem;
}

.richtext a {
  color: var(--color-purple);
  transition: color 200ms ease;
}

.richtext a:hover {
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .richtext h1 {
    margin-bottom: 3rem;
  }
}

/* Hotspot */
.hotspot {
  width: 2rem;
  height: 2rem;
  z-index: 1;
  background-color: var(--color-white);
  border-radius: 1000px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: width 200ms ease,
    transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.state--active.hotspot {
  transition: width 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hotspot.will-appear {
  transform: translate3d(0, 0, 0) scale(0);
}

.hotspot.did-appear {
  transform: translate3d(0, 0, 0) scale(1);
}

.hotspot::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: var(--color-purple);
  top: 7px;
  left: 7px;
  transition: background-color 200ms ease;
}

.state--active.hotspot::before,
.hotspot:hover::before {
  background-color: var(--color-green);
}

.hotspot::after {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  width: 4px;
  top: 11px;
  left: 13px;
  transform: rotate(45deg);
  border-bottom: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
  z-index: 1;
}

.state--active.hotspot::after,
.hotspot:hover::after {
  border-bottom: 1px solid var(--color-purple);
  border-right: 1px solid var(--color-purple);
}

.hotspot__text {
  white-space: nowrap;
  position: absolute;
  left: 2rem;
  top: 5px;
  padding: 0 1.5rem 0 0.5rem;
  opacity: 0;
  transition: opacity 200ms ease;
}

.state--active .hotspot__text {
  opacity: 1;
  transition: opacity 200ms ease 200ms;
}

/* In-Page Nav */
.inpage-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(var(--vh100) - var(--header-height));
  background-color: var(--color-purple);
  font-size: var(--font-size-l);
  padding: 3rem var(--page-padding) var(--page-padding);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.inpage-nav.state--active {
  opacity: 1;
  pointer-events: auto;
}

.inpage-nav__link {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  line-height: 1.8;
  transition: color 200ms ease;
}

.inpage-nav__contact {
  margin-top: 2rem;
}

.inpage-nav__bubble {
  display: none;
}

.inpage-nav__footer {
  display: flex;
  text-align: left;
  color: var(--color-lightgray);
  font-size: var(--font-size-m);
}

.inpage-nav__footer-address {
  width: 66.66%;
}

@media screen and (min-width: 1024px) {
  .inpage-nav {
    display: block;
    text-align: right;
    bottom: var(--page-padding);
    right: var(--page-padding);
    font-size: var(--font-size-m);
    padding: 0;
    width: auto;
    height: auto;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
  }

  .inpage-nav.state--active {
    opacity: 1;
    pointer-events: auto;
  }

  .inpage-nav__link {
    color: var(--color-black);
    line-height: 1.5;
  }

  .inpage-nav__link.state--active,
  .inpage-nav__link:hover {
    color: var(--color-purple);
  }

  .inpage-nav__bubble {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-purple);
    position: absolute;
    right: -1rem;
    top: 8px;
    transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .state--linear .inpage-nav__bubble {
    transition: top 300ms linear;
  }

  .inpage-nav__contact {
    display: none;
  }
  .inpage-nav__footer {
    display: none;
  }
}

/* Hero Home */
.hero {
  border-bottom: 1px solid var(--color-lightgray);
}

.hero__content {
  padding: 2rem var(--page-padding) 5rem;
}

.hero__title {
  font-size: var(--font-size-xl);
  line-height: 1.3;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1rem;
}

.hero__title span {
  color: var(--color-purple);
}

.hero__text {
  margin-bottom: 1.5rem;
}

.hero__image {
  position: relative;
}

.hero__hotspot {
  position: absolute;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero__image {
    order: 2;
  }

  .hero__content {
    order: 1;
  }

  .hero__title {
    margin-bottom: 6.25rem;
  }

  .hero__text {
    max-width: 500px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    gap: 3.5rem;
    min-height: calc(var(--vh100) - var(--header-height));
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__content {
    order: 2;
    padding: 7rem var(--page-padding) var(--page-padding) 0;
  }

  .hero__image {
    order: 1;
  }

  .hero__image-image,
  .hero__image-image picture {
    height: 100%;
    padding-top: 0 !important;
  }

  .hero__title {
    max-width: 800px;
    margin-bottom: 3rem;
  }

  .hero__text {
    max-width: 580px;
    font-size: 1.5rem;
  }
}


/* Video Teaser */

.video-teaser {
  border-bottom: 1px solid var(--color-lightgray);
}

.video-teaser__content {
  background-color: var(--color-bggray);
  padding: 2rem var(--page-padding);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video-teaser__title {
  font-size: var(--font-size-xl);
  line-height: 1.3;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1rem;
}

.video-teaser__title span {
  color: var(--color-purple);
}

.video-teaser__text {
  margin-bottom: 1.5rem;
  font-size: var(--font-size-m);
}

.video-teaser__media {
  padding: var(--page-padding);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.video-teaser__description {
  color: var(--color-purple);
  text-align: center;
  max-width: 600px;
  margin-bottom: 2rem;
}

.video-teaser__video {
  max-width: 800px;
  width: 140%;
  margin-left: -20%;
  margin-right: -20%;
}

@media screen and (min-width: 768px) {
  .video-teaser__title {
    margin-bottom: 6.25rem;
  }
  .video-teaser__text {
    max-width: 500px;
  }

  .video-teaser__video {
    max-width: 800px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .video-teaser {
    display: grid;
    gap: 3.5rem;
    min-height: calc(var(--vh100) - var(--header-height));
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid var(--color-lightgray);
  }

  .video-teaser__content {
    grid-column-start: span 4;
    padding: var(--page-padding);
  }
  .video-teaser__media {
    grid-column-start: span 8;
  }

  .video-teaser__title {
    margin-bottom: 3rem;
  }
}

/* Testimonial Slider */

.testimonial-slider {
  border-bottom: 1px solid var(--color-lightgray);
}

.testimonial-slider__slider-wrapper {
  border-bottom: 1px solid var(--color-lightgray);
  overflow: hidden;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.testimoial-slider__testimonial {
  height: 100%;
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
}

.testimonial-slider__testimonial-text {
  font-size: var(--font-size-l);
  margin-bottom: 3rem;
  flex: 1;
}

.testimonial-slider__testimonial-text span {
  color: var(--color-purple);
}

.testimonial-slider__testimonial-bottom {
  display: flex;
  align-items: flex-start;
}

.testimonial-slider__testimonial-hotspot {
  margin-top: 1rem;
}

.testimonial-slider__testimonial-image {
  max-width: 180px;
  margin-right: 1rem;
  width: 40%;
}

.testimonial-slider__testimonial-info {
  flex: 1;
  position: relative;
  align-self: stretch;
}

.testimonial-slider__testimonial-name {
  color: var(--color-purple);
}

.testimonial-slider__pagination {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 1px solid var(--color-lightgray);
  border-top: 1px solid var(--color-lightgray);
  display: flex;
}

.testimonial-slider__pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  outline: none;
  background-color: var(--color-white);
}

.testimonial-slider__pagination-button:hover
  .testimonial-slider__pagination-button::after {
  border-color: transparent transparent transparent var(--color-green);
}

.testimonial-slider__pagination-button:first-child {
  border-right: 1px solid var(--color-lightgray);
}

.testimonial-slider__pagination-button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent var(--color-purple);
  transition: border-color 200ms ease;
}

.testimonial-slider__pagination-button:hover::after {
  border-color: transparent transparent transparent var(--color-green);
}

.testimonial-slider__pagination-button:first-child:after {
  transform: rotate(180deg);
}

.testimonial-slider__images {
  padding: var(--page-padding) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testimonial-slider__images-container {
  width: 80%;
  margin: 3rem auto 5rem;
}

.testimonial-slider__images-wrapper {
  padding-top: 95%;
  width: 100%;
  position: relative;
}

.testimonial-slider__image-left {
  position: absolute;
  width: 45%;
  left: 12%;
  bottom: 0;
}

.testimonial-slider__image-right {
  position: absolute;
  width: 45%;
  right: 10%;
  top: 0;
}

.testimonial-slider__image-left img,
.testimonial-slider__image-right img {
  width: 100%;
}

.testimonial-slider__images-description {
  position: absolute;
  left: var(--page-padding);
  bottom: var(--page-padding);
}

@media screen and (min-width: 768px) {
  .testimonial-slider__testimonial-progress {
    width: 100%;
    max-width: 120px;
    height: 3px;
    background-color: var(--color-lightgray);
    border-radius: 3px;
    position: absolute;
    bottom: 0;
  }

  .testimonial-slider__testimonial-progress span {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--color-purple);
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .testimonial-slider__images-container {
    width: 50%;
    margin: 1rem auto 7rem;
  }

  .testimonial-slider__images-description {
    width: 50%;
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .testimonial-slider {
    display: grid;
    min-height: calc(var(--vh100) - var(--header-height));
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--color-lightgray);
  }

  .testimonial-slider__slider-wrapper {
    border-right: 1px solid var(--color-lightgray);
    border-bottom: none;
  }

  .testimonial-slider__images-container {
    transform: translate3d(0, -10%, 0);
    max-width: 65vh;
    width: 100%;
  }
}

/* logos */

.logos {
  border-bottom: 1px solid var(--color-lightgray);
}

.logos__content {
  background-color: var(--color-bggray);
  padding: 2rem var(--page-padding);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logos__title {
  font-size: var(--font-size-xl);
  line-height: 1.3;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1rem;
}

.logos__title span {
  color: var(--color-purple);
}

.logos__text {
  max-width: 500px;
  margin-bottom: 1.5rem;
  font-size: var(--font-size-m);
}

.logos__media {
  padding: var(--page-padding);
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(2, 33%);
  justify-content: space-evenly;
  align-items: center;
}

.logos__logo {
  width: 100%;
  display: block;
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  backface-visibility: hidden;
  will-change: transform, opacity, filter;
  transition: transform 800ms ease, opacity 800ms ease;
}

.did-appear .logos__logo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.logos__logo-image {
  width: 100%;
  max-width: 210px;
  display: block;
  margin: 0 auto;
  filter: grayscale(1);
  opacity: 0.5;
  transition: filter 200ms ease, opacity 200ms ease;
}

.logos__logo-image:hover {
  filter: grayscale(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .logos__title {
    margin-bottom: 6.25rem;
  }

  .logos__media {
    grid-template-columns: repeat(3, 25%);
  }
}

@media screen and (min-width: 1024px) {
  .logos {
    display: grid;
    min-height: calc(var(--vh100) - var(--header-height));
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid var(--color-lightgray);
  }

  .logos__content {
    grid-column-start: span 4;
    padding: var(--page-padding);
  }

  .logos__media {
    grid-column-start: span 8;
    row-gap: 20%;
    grid-template-columns: repeat(3, 30%);
  }

  .logos__title {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .logos__media {
    grid-column-start: span 8;
    row-gap: 20%;
  }
}

/* Process */

.process {
  border-bottom: 1px solid var(--color-lightgray);
}

.process__content {
  grid-column-start: span 6;
  padding: var(--page-padding);
}

.process__title {
  font-size: var(--font-size-xl);
  line-height: 1.3;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 2rem;
}

.process__title span {
  color: var(--color-purple);
}

.process__illustration {
  margin: 0 auto;
  width: 100%;
  max-width: 590px;
  margin-bottom: 2rem;
}

.process__image {
  grid-column-start: span 6;
}

.process__text {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .process__title {
    margin-bottom: 6.25rem;
  }

  .process__text {
    margin-bottom: 2rem;
    max-width: 500px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .process {
    display: grid;
    min-height: calc(var(--vh100) - var(--header-height));
    grid-template-columns: repeat(12, 1fr);
  }

  .process__content {
    padding: 7rem 0 var(--page-padding) var(--page-padding);
  }

  .process__title {
    margin-bottom: 3rem;
    max-width: 800px;
  }

  .process__text {
    margin-bottom: 2rem;
    max-width: 500px;
    font-size: 1.5rem;
  }

  .process__image-image,
  .process__image-image picture {
    height: 100%;
    padding-top: 0 !important;
  }
}

/* Team */

.team {
  border-bottom: 1px solid var(--color-lightgray);
  padding: var(--page-padding);
}

.team__text {
  font-size: var(--font-size-l);
  line-height: 1.3;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 3rem;
  flex: 1;
}

.team__text span {
  color: var(--color-purple);
}

.team__member {
  opacity: 0;
  display: block;
  transform: translate3d(0, 30px, 0);
  margin-bottom: 2rem;
  backface-visibility: hidden;
  will-change: transform, opacity, filter;
  transition: transform 800ms ease, opacity 800ms ease;
}

.did-appear .team__member {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  position: relative;
}

.team__member-name {
  color: var(--color-purple);
  transition: color 200ms ease;
}

a.team__member:hover .team__member-name {
  color: var(--color-black);
}

a.team__member .team__member-position,
a.team__member .team__member-career {
  color: var(--color-black);
  transition: color 200ms ease;
}

a.team__member:hover .team__member-position,
a.team__member:hover .team__member-career {
  color: var(--color-purple);
}

.team__member-hotspot {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .team__text {
    max-width: 64%;
  }

  .team__team {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .team__member {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .team {
    min-height: calc(var(--vh100) - var(--header-height));
    display: flex;
    flex-direction: column;
  }
  .team__text {
    margin-bottom: 5rem;
  }

  .team__team {
    grid-template-columns: repeat(3, 1fr);
  }

  .team__member {
    margin-bottom: 1.5rem;
  }
}

/* Contact Page */

.contact-page {
  min-height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
}

.contact-page__contact {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 5.5rem var(--page-padding);
}

.contact-page__title {
  font-size: var(--font-size-xl);
  max-width: 500px;
}

.contact-page__footer {
  display: none;
}

.contact-form__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--page-padding);
  position: relative;
}

.contact-form__form-title {
  font-size: var(--font-size-l);
  max-width: 400px;
  width: 100%;
  margin-bottom: 2.5rem;
}

.contact-form__form-form {
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  padding: 0.875rem;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  outline: none;
  transition: border 200ms ease;
  margin-bottom: 2rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid var(--color-purple);
}

input#hidden {
  display: none;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .contact-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-page__title {
    transform: translate3d(0px, -50%, 0);
  }

  .contact-page__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--page-padding);
    position: relative;
  }

  .contact-page__footer {
    position: absolute;
    bottom: var(--page-padding);
    left: var(--page-padding);
    width: 100%;
    display: flex;
  }

  .contact-page__footer-address {
    width: 35%;
  }

  .contact-page__footer-link,
  .contact-page__footer-address a {
    transition: color 200ms ease;
  }

  .contact-page__footer-link:hover,
  .contact-page__footer-address a:hover {
    color: var(--color-black);
  }
}

/* Content Page */

.content-page {
  min-height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
  padding: var(--page-padding);
  max-width: 800px;
  margin: 0 auto;
}

/* Footer */
.footer {
  border-top: 3px solid var(--color-black);
  padding: var(--page-padding);
  color: var(--color-gray);
  margin-bottom: -2rem;
  background-color: var(--color-bggray);
}

.footer__address {
  margin-right: 6.25rem;
  margin-bottom: 2rem;
}

.footer__address a,
.footer__link {
  white-space: nowrap;

  transition: color 200ms ease;
}

.footer__address a:hover,
.footer__link:hover {
  color: var(--color-purple);
}

.footer__links {
  margin-right: 6.25rem;
  margin-bottom: 2rem;
}

.footer .button {
  margin-bottom: 2rem;
}

@media screen and (min-width: 500px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .footer.state--contact {
    display: none;
  }

  .footer__button-wrapper {
    align-self: center;
    flex: 1;
    text-align: right;
  }

  .footer__address,
  .footer__links,
  .footer .button {
    margin-bottom: 0;
  }
}

/* Cookie banner */

.cookie-banner {
  position: fixed;
  width: calc(100% - 2.5rem);
  max-width: 340px;
  left: 1.25rem;
  bottom: 1.25rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.25rem 1.5rem;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.cookie-banner.state--hidden {
  display: none;
}

.cookie-banner__title {
  font-size: 1.125rem;
  margin-bottom: 0.7rem;
}

.cookie-banner__title span {
  color: var(--color-purple);
}

.cookie-banner__text {
  margin-bottom: 1.35rem;
}

.cookie-banner__text a {
  color: var(--color-purple);
  text-decoration: underline;
  transition: color 200ms ease;
}

.cookie-banner__text a:hover {
  color: var(--color-black)
}

.cookie-banner__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-banner__buttons .button {
  padding: 0.75rem 1.5rem;
}

.cookie-banner__buttons .button::after {
  content: none;
}

.cookie-banner__reject {
  background-color: var(--color-bggray);
  color: var(--color-purple);
  margin-right: 1rem;
}