<!DOCTYPE html>
<html ng-app="acadillyApp"
      ng-controller="MainController">
<head>
  <base href="/">
  
  <meta name="description"
        content="Ihre Cloud für Lerninhalte. Sicher und schnell den Unterricht vorbereiten.">
  <meta name="geo.placename"
        content="Zürich,Schweiz">
  <meta name="ICBM"
        content="47.3765359,8.5480928">
  <meta name="robots"
        content="follow,index">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8"/>
  
  <!-- manifest is required for prompting the user with an install button -->
  <link rel="manifest"
        href="/manifest.json">
  
  <script>
    var TASKBASE_GLOBAL_GOOGLE_CHART_READY = false;
  </script>
  
  <!-- CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="/assets/css/libs.css?tbv=4.0.1">
  <!-- CSS dependent on environment -->
  <script>
    var appendStyleSheet = function (link) {
      var lnk = document.createElement('link');
      lnk.type = 'text/css';
      lnk.href = link;
      lnk.rel = 'stylesheet';
      document.getElementsByTagName('head')[0].appendChild(lnk);
    };
    var appendFavicon = function (path) {
      var lnk = document.createElement('link');
      lnk.href = path;
      lnk.rel = 'icon';
      lnk.sizes = '32x32';
      document.getElementsByTagName('head')[0].appendChild(lnk);
    };
    var appendTitle = function (title) {
      var titleElement = document.createElement('title');
      titleElement.textContent = title;
      document.getElementsByTagName('head')[0].appendChild(titleElement);
    };

    if (location.host.indexOf('e-maths') > -1) {
      appendStyleSheet('/assets/css/e-maths.css?tbv=4.0.1');
      appendStyleSheet('https://fonts.googleapis.com/css?family=Lato');
      appendTitle('E-maths');
      appendFavicon('/assets/img/icons/favicons/e-maths.ico');
    } else if (location.host.indexOf('mathbridge') > -1) {
      appendStyleSheet('/assets/css/mathbridge.css?tbv=4.0.1');
      appendTitle('Mathbridge');
      appendFavicon('/assets/img/icons/favicons/mathbridge.ico');
      appendStyleSheet('https://fonts.googleapis.com/css?family=Lato');
    } else if (location.host.indexOf('acadilly') > -1) {
      appendStyleSheet('/assets/css/acadilly.css?tbv=4.0.1');
      appendTitle('Acadilly');
      appendFavicon('/assets/img/icons/favicons/acadilly.ico');
      appendStyleSheet('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');
    } else {
      appendStyleSheet('/assets/css/default.css?tbv=4.0.1');
      appendTitle('Taskbase');
      appendFavicon('/assets/img/icons/favicons/taskbase.ico');
      appendStyleSheet('https://fonts.googleapis.com/css?family=Lato');
    }
  </script>
  
  <!-- special css, not easy to move into all.css -->
  <link rel="stylesheet"
        href="/assets/custom-css/icomoon/style.css?tbv=4.0.1">
  
  <!-- d3js (only needed for demo, so TODO would be to load async when needed) -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  
  <!-- insp -->
  <script async
          type="text/javascript"
          id="inspectletjs"
          src="/assets/js/inspectlet.js"></script>
  <script>window.__insp = window.__insp || [];</script>

</head>
<body>
  
  <!-- 1. Load libraries and scripts -->
  <script src="/assets/js/generated/libs.js?tbv=4.0.1"></script>
  <script src="/assets/js/app.js?tbv=4.0.1"></script>
  <script src="/assets/js/generated/scripts.js?tbv=4.0.1"></script>
  
  
  <!-- 3. Display the application -->
  <web-app>
    <!-- Loading Spinner -->
    <div class="vertical-center"
         ng-if="false"
         style="height: 100vh;">
      <div class="center">
        <span class="tb-spinner inline-block"></span>
      </div>
    </div>
  </web-app>
  
  
  <!-- 4. Load Async Libraries -->
  <script async
          src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
  <script async
          src="https://www.youtube.com/iframe_api"></script>
  
  <!-- begin olark code -->
  <script data-cfasync="false"
          type='text/javascript'
          src="/assets/js/olark.js"></script>
  <noscript><a href="https://www.olark.com/site/2540-183-10-6486/contact"
               title="Contact us"
               target="_blank">Questions?
    Feedback?</a> powered by <a href="http://www.olark.com?welcome"
                                title="Olark live chat software">Olark live chat
    software</a></noscript>
  <!-- end olark code -->
  
  <script src="/assets/js/ajax-mathjax.js?tbv=4.0.1"></script>
  
  
  <!-- 5. to enable isMobile check -->
  <div id="mobile-check"></div>


</body>
</html>
