@import 'variables';

.business-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;

  .card-header {
    background: #FFFFFF;
    width: 100%;
    height: 90px;
  }

  .card-body {
    margin-top: -60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-text-wrapper {

      $diameter: 200px;

      perspective: 1000px;
      width: $diameter;
      height: $diameter;

      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;

        .back .front {
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
        }

        .front {
          background-color: $primary-color;
          z-index: 2;
          width: $diameter;
          height: $diameter;
          border-radius: 50%;
          border: 8px solid rgba(0, 150, 136, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 170px;
          }
        }

        .back {
          transform: rotateY(180deg);
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: $diameter;
          height: $diameter;
          border-radius: 50%;
          border: 8px solid darken(rgba(0, 150, 136, 1), 10%);
          background: $primary-color;
          color: $primary-color-contrast;
          display: flex;
          justify-content: center;
          align-items: center;
          .text {
            font-size: 22px;
          }
        }

      }
    }
  }

  .img-text-wrapper:hover .flipper {
    transform: rotateY(180deg);
  }

  .name {
    margin: -5px;
    margin-top: 15px;
    font-size: 25px;
    color: #FA5C68;

  }
  .description {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #454545;
  }
  .pics {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;

    .pic {
      margin-right: 8px;
      height: 25px;
      width: 25px;
    }
  }
}

.business-card:hover {

}




