.fixed-table-wrapper{
  .fixedTable .table {
    background-color: white;
    width: auto;
  }
  .fixedTable .table tr td,
  .fixedTable .table tr th {
    min-width: 100px;
    width: 100px;
    min-height: 20px;
    height: 20px;
    padding: 5px;
  }
  .fixedTable-header {
    width: 80%;
    height: 50px;
    margin-left: 20%;
    overflow: hidden;
  }
  .fixedTable-sidebar {
    width: 20%;
    //max-height: 310px;
    float: left;
    overflow: hidden;
  }
  .fixedTable-body {
    overflow: auto;
    width: 80%;
    //max-height: 310px;
    float: left;
  }

}
