<div class="jumbo-wrapper">
  <div class="content-container">
    <div class="jumbo-container">
      <div class="headline">
        <h1 class="title">Deutschaufgabe</h1>
      </div>
      <img src="/assets/img/showcases/postcard.svg" class="image" />
      <div class="jumbo-content">
        <div class="text">
          <b
            >Nenne drei Elemente des nachfolgenden Textes (stichwortartig), die
            für die Textsorte «Ansichtskarte» typisch sind.</b
          >
          <br />
          <br />
          <i>
            Kawai, 22.09.2018
            <br />
            <br />
            Hallo Jens
            <br /><br />
            Nach einer Fahrt quer durch Kalifornien mit eindrücklichen
            Küstenlandschaften, architektonischen Highlights und super feinen
            Fischgerichten geniessen wir nun die unglaubliche Natur auf den
            Paradiesinseln Hawaiis.
            <br />
            Ich schicke dir viele Sonnenstrahlen von der Westküste ins neblige
            St. Gallen, davon haben wir hier mehr als genug!
            <br /><br />
            Flurina
          </i>
        </div>
        <app-marker-question
          (changedText)="onChange($event)"
          [studentInput]="studentInput"
          stimulus=""
        >
        </app-marker-question>
        <br />
        <button
          id="Antworten"
          class="formelement buttonwrap"
          (click)="check()"
          *ngIf="showAntworten"
        >
          Antworten
        </button>
        <div class="feedback">
          <div class="feedbacktext">
            <h2 class="tile">{{ feedback }}</h2>
            <h2 *ngIf="simulation">
              <a class="link" (click)="simulate()">Schülereingabe simulieren</a
              ><br />
            </h2>
          </div>
        </div>
        <br />
        <button
          id="repeat"
          class="button"
          (click)="back()"
          *ngIf="showWiederholen"
        >
          Wiederholen
        </button>
        <div class="error"></div>
      </div>
    </div>
  </div>
</div>
