<div class="jumbo-wrapper">
  <div class="content-container d-flex">
    <div class="jumbo-inner">
      <div class="jumbo-middle">
        <img src="assets/img/jumbo.svg"
             id="jumbo-large-pic"
             *ngIf="screenWidth > 900"
             class="largepic">
        <img src="assets/img/jumbopicsmall.svg" id="jumbo-small-pic" class="smallpic" *ngIf="screenWidth <= 900">
        <div *ngIf="!isInternetExplorer()" class="jumbo-headline">
          <h1 class="title" id="jumbo-title">Interaktive Lernlösungen,<br> die mitdenken</h1>
          <h2 class="subtitle">Wir entwickeln interaktive Lernlösungen, die Lernerfolge beflügeln.
            Technologien aus den Bereichen Artificial Intelligence und Machine Learning eröffnen neue didaktische
            Möglichkeiten.
          </h2>
        </div>
        <div *ngIf="isInternetExplorer()">
          hello world
        </div>
      </div>
      <img src="assets/img/logos/spinoff.png"
           class="ethlogo jumbo-bottom">
    </div>
  </div>
</div>
