.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;

  .address{
    width: 300px;

    .title {
      font-size: 25px;
      color: #454545;
      margin: 0px;
    }
    .line {
      color: #454545;
      margin: 0px;
      font-size: 20px;
      line-height: 25px;
    }
    .pics {
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;
      align-content: space-between;
      align-items: flex-start;

      .pic {
        margin-right: 10px;
        height: 25px;
        width: 25px;
      }
    }
  }
}

