<div class="content-container">
  <div class="contact">
    <img src="assets/img/contact/left.svg"
         class="bbpics bbpicsleft">
    <img src="assets/img/contact/right.svg"
         class="bbpics bbpicsright">
    <h1 class="title">3... 2... 1... los!</h1>
    <h2 class="title2">
      Kontaktieren Sie uns. Wir beraten Sie gerne in einem persönlichen Gespräch und entwickeln gemeinsam Ihre neue
      Lernlösung. <br>
    </h2>
    <form [formGroup]="contactForm">
      <input placeholder="Ihr Name"
             formControlName="name"
             type="text">
      <input placeholder="Ihre Emailadresse"
             formControlName="email"
             type="email">
      <textarea placeholder="Ihre Nachricht"
                formControlName="message"
                rows="6"
                required></textarea>
      <div class="form-controls">
        <button id="contact-submit" (click)="onSubmit()"
                type="submit">
          Senden
        </button>
      </div>
    </form>
    <br>
  </div>
</div>
