/* IE first */
@font-face {
font-family: APLFont;
src: url(http://taskbase.com/Styles/Apl385.eot);
}
@font-face {
font-family: APLFont;
src: local("APL385 Unicode"), 
url(http://taskbase.com/Styles/Apl385.ttf);
}
body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	margin: 0px;
	padding: 0px;
	background-color: #f2f5d6;
	line-height: 1.25;
}
h1, h2, h3, h4, h6, p, a {
	margin: 0px;
	padding: 0px;
}
h6 {
	margin-top: 5px;
}
h5 {
	margin-top: 7px;
	margin-bottom: 3px;
	padding: 0px;
}
ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#LanguageBar {
	display: none;
	background-color: lightblue;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 285px;
	height: 400px;
	position: absolute;
}
#LanguageBar td {
	margin: 0px;
	padding: : 0px;
}
#LanguageBar td .tba {
	height: 28px;
	font-family: APLFont, monospace;
	background-color: lightgray;
	border: 1px Solid black;
	text-align: center;
	font-size: 1.3em;
	padding: 1px 2px 3px 2px;
	margin: 0px 1px 0px 0px;
}
#LanguageBar td a {
	text-decoration: none;
}
#sidebar {
	height: 100%;
	line-height: 100%;
}
.links li a {
	text-decoration: none;
	font-size: 1 em;
}
.links li a:hover {
	color: red;
}
.exec {
	color: purple;
	text-decoration: none;
	font-weight: bold;
	font-family: APLFont;
	cursor: pointer;
}
.language-apl {
	font-family: APLFont;
}
code, pre {
	font-family: APLFont;
	color:darkgreen;
}
#APLsession {
	overflow: auto;
	margin: 5px;
	margin-bottom: 0px;
	padding-left: 5px;
	line-height: 1em;
	background-color: white;
	letter-spacing: -0.5px;
	height:65vh;
}
#APLsession pre {
	font-family: APLFont;
	font-size: .9em;
	margin: 2px;
}
#APLsession pre[class*="language-"] {
	height: 1em;
}
#APLedit {
	font-family: APLFont, Arial;
	background-color: #DFDFFF;
	border-width: 0px;
	width: 90%;
}
#APLinput {
	margin-left: 10px;
	margin-right: 10px;
}
#primerToggle {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/*#rightPanel {
	position:absolute;
}
*/
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.APL {
	font-family: APLFont;
}
#tooltip {
	overflow: hidden;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}