@import "variables";

:host {
  background-color: #ffffff;
  display: block;
  padding-bottom: 60px;
  padding-top: 40px;
}

.electron {
  background-image: url("/assets/img/electrobg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (max-width: 1200px) {
    background-image: none;
  }

  .techbody {
    min-height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1200px) {
      min-height: 100px;
      padding: 25px;
    }

    .box {
      background: #009686;
      min-height: 400px;
      width: 840px;
      padding: 20px;
      padding-top: 40px;

      .slidecontent {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .tags {
          height: 100%;
          font-weight: normal;
          display: inline;
          margin-top: 10px;
          margin-bottom: 25px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .linkbox {
            position: relative;
            background-color: #20a294;
            cursor: pointer;
            width: 42%;
            min-height: 75px;
            padding: 13px;
            margin: 13px;
            margin-left: 25px;
            margin-right: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media (max-width: 900px) {
              width: 90%;
            }
          }

          .pic {
            position: absolute;
            top: -20px;
            left: -20px;
            padding: 5px;
            height: 50px;
            width: 50px;
            opacity: 1;
            -webkit-transition: -webkit-transform 0.8s ease-in-out;
            -ms-transition: -ms-transform 0.8s ease-in-out;
            transition: transform 0.8s ease-in-out;
          }

          .techtitle {
            color: #ffffff;
            width: 77%;
            font-size: 20px;
            line-height: 25px;
          }
        }

        .linkbox:hover {
          color: #ffffff;
          background-color: #42b2a6;

          @media (max-width: 900px) {
            width: 90%;
          }

          .pic {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
          }
        }
      }
    }
  }
}
