<div class="jumbo-wrapper">
  <div class="content-container">
    <div class="jumbo-container">
      <div class="headline">
        <h1 class="title">Deutschaufgabe</h1>
      </div>
      <img src="../../../assets/img/postcart.png"
           class="image">
      <div class="jumbo-content">

        <app-question (onChange)="onChange($event)" [studentInput]="studentInput"></app-question>

        <div class="feedback">
          <div class="feedbacktext">
            <h2 class="tile">{{feedback}}</h2>
            <h2 *ngIf="simulation"><a class="link" (click)="simulate()">Schülereingabe Simulieren</a><br></h2>
          </div>
        </div>

        <br>
        <button id="Antworten" class="formelement buttonwrap" (click)="check()">
          Antworten
        </button>
        <div class="error"></div>
      </div>
    </div>
  </div>
</div>
