<a id="techpart"></a>
<div class="content-container">
  <div class="bannerwrapper">
    <div class="tech-title">
      <h1 class="title">Technologie&shy;bausteine</h1>
      <h2 class="tech-headline">Moderne Lernlösungen basieren auf komplexen Technologien, die wir mit unseren modularen
        Bausteinen nach neusten Standards entwickeln. Damit bleiben die Kosten auch für aufwendige Projekte
        planbar. <br><br> Für weitere Informationen, klicken Sie auf die Bausteine. Oft ist mehr möglich, als Sie denken!
      </h2>
    </div>
  </div>
</div>
