<div class="header-wrapper">
  <div class="navbar navbar-fixed-top navbar-taskbase" ng-class="{'light': secondaryHeader(), ' navbar-inverse': !secondaryHeader()}">
    <div class="container">
      <div class="navbar-header">
        <!-- TODO aca: improve header-->
        <!-- TODO: header not moving at same speed as thingy -->
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span ng-if="appId === 'taskbase'">
          <a class="navbar-brand" ui-sref="home">
            <img ng-src="/assets/img/logos/taskbase.svg" style="max-height: 40px; margin-top:-10px" id="taskbase-home-button" class="logo-image logged-in" alt="logo"/>
          </a>
        </span>
        <!--E-Maths special-->
        <span ng-if="appId === 'e-maths'">
          <a class="navbar-brand" ui-sref="home">
            <img ng-src="/assets/img/logos/e-maths2.png" style="max-height: 30px;  margin-top:-5px" class="logo-image logged-in" alt=""/>
          </a>
        </span>
        <!--Acadilly-->
        <span ng-if="appId === 'ACADILLY'">
          <a class="navbar-brand" ui-sref="home">
            <img ng-src="/assets/img/logos/acadilly-white.svg" style="max-height: 30px;  margin-top:-5px" class="logo-image logged-in" alt=""/>
          </a>
        </span>
      </div>
      <!-- for authenticated users -->
      <div id="navbar" class="navbar-collapse collapse">
        <!--below xs-->
        <ul class="nav navbar-nav navbar-right visible-xs" id="settings-mobile">
          <!-- Teacher / Student Switch -->
          <li ng-click="switchToTeacherView()"
              ng-if="showViewAsTeacherButton()">
            <a class="light-link padd-right">
              <span ng-if="appPermissions.TEACHER_VIEW">
                {{'View as Teacher' | translate}} <i class="fa fa-eye"></i>
              </span>
              <span ng-if="!appPermissions.TEACHER_VIEW">
                {{'Edit' | translate}} <i class="fa fa-pencil"></i>
              </span>
            </a>
          </li>
          <li ng-click="switchToStudentView()"
              ng-if="showViewAsStudentButton">
            <a class="light-link padd-right">
              <span ng-if="appPermissions.TEACHER_VIEW">
                {{'View as Student' | translate}} <i class="fa fa-eye"></i>
              </span>
              <span ng-if="!appPermissions.TEACHER_VIEW">
                {{'Play' | translate}} <i class="fa fa-play-circle"></i>
              </span>
            </a>
          </li>
          <!-- End Teacher / Student Switch -->
          <li>
            <a ui-sref="profile({userId: user._id})" class="navbar-item" ng-click="goingForward()" >{{ 'Profile' | translate }}</a>
          </li>
          <li ng-click="logOut()" id="log-out-mobile">
            <a class="navbar-item">{{ 'Log out' | translate }}</a>
          </li>
        </ul>
        <!--above xs-->
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <!-- Teacher / Student Switch -->
          <li ng-click="switchToTeacherView()"
              id="view-as-teacher-button"
              ng-if="showViewAsTeacherButton()">
            <a class="light-link padd-right">
              <span ng-if="appPermissions.TEACHER_VIEW">
                {{'View as Teacher' | translate}} <i class="fa fa-eye"></i>
              </span>
              <span ng-if="!appPermissions.TEACHER_VIEW">
                {{'Edit' | translate}} <i class="fa fa-pencil"></i>
              </span>
            </a>
          </li>
          <li ng-click="switchToStudentView()"
              id="view-as-student-button"
              ng-if="showViewAsStudentButton">
            <a class="light-link padd-right">
              <span ng-if="appPermissions.TEACHER_VIEW">
                {{'View as Student' | translate}} <i class="fa fa-eye"></i>
              </span>
              <span ng-if="!appPermissions.TEACHER_VIEW">
                {{'Play' | translate}} <i class="fa fa-play-circle"></i>
              </span>
            </a>
          </li>
          <!-- End Teacher / Student Switch -->
          <li class="dropdown">
            <a class="dropdown-toggle" id="user" data-toggle="dropdown" role="button" aria-expanded="false">
              {{user.email}} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="profile({userId: user._id})" ng-click="goingForward()"> {{'Profile' | translate}} </a></li>
              <li ng-click="logOut()" id="log-out"><a ui-sref="landing">{{ 'Log out' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
