.header-wrapper {

  .margin-top {
    margin-top: $header-height;
  }

  z-index: 2;

  .navbar-toggle {
    border: none;
  }

  .below-signup-form {
    margin-top: 3px;
    font-size: 12px;
  }

  .navbar-inverse {
    .navbar-toggle {
      .icon-bar {
        background-color: white;
      }
    }
  }

  .navbar-toggle {
    .icon-bar {
      background-color: $accent;
    }
  }

  .navbar-brand {
    .logged-in {
      margin-top: -15px;
      height: 55px;
    }

    .logged-out {
      margin-top: -15px;
      height: 75px;
    }
  }

  .navbar {
    background: $primary;
    //box-shadow: $drop-shadow;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    box-shadow: $card-shadow2;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &.light {
      background: RGBA(255, 255, 255, 0.9);
      box-shadow: none;
      border-bottom: 1px solid #ccc;

      a {
        color: $primary;
      }
    }
  }

  .navbar {
    margin: 0
  };

  .header-item {
    color: $white;
  }

  .user-icon {
    font-size: 20px;
    color: $white;
  }

  .navbar-inverse {
    border: 0;
  }

  .login-box {
    position: relative;
    min-height: 60px;

    .login-form {
      margin-top: 10px;
    }

    .forgot-password {
      position: absolute;
      bottom: -5px;
      right: 15px;
      font-size: 12px;
    }

    .create-account {
      position: absolute;
      bottom: -5px;
      left: 15px;
      font-size: 12px;
    }
  }

  .navbar-item {
    color: white;
  }

  .navbar-inverse .navbar-form {
    border: transparent;
  }


  .navbar-inverse .navbar-nav > li > a {
    &.light-link {
      color: $beige;
    }
    color: $white;
  }

  .navbar-inverse .navbar-collapse {
    border: transparent;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: transparent;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: transparent;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: transparent;
  }

}
