/*
convert images to b&w: http://convertimage.net/online-photo-effects/black-and-white-photo-fx.asp
correct contrast: https://www.befunky.com/create/
*/
@import "variables";

:host {
  background-color: #ffffff;
  display: block;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;

  .control-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    background: transparent;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    @media (min-width: 0px) and (max-width: 500px) {
      display: none;
    }
  }

  .slidecontent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .picture {
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      border: 5px solid #fa5c68;

      .img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }

    .green {
      padding-top: 15px;
      color: #009688;
      font-size: 25px;
      font-family: "Roboto", sans-serif;
      @media (min-width: 0px) and (max-width: 500px) {
        font-size: 20px;
      }
    }

    .testimonial {
      width: 100%;
      text-align: center;

      .sentence {
      }
      .name {
        font-size: 20px;
        padding-top: 5px;
        color: #454545;
        @media (min-width: 0px) and (max-width: 500px) {
          font-size: 15px;
        }
      }
      .role {
        font-size: 15px;
        color: #454545;
        padding-bottom: 20px;
        @media (min-width: 0px) and (max-width: 500px) {
          font-size: 10px;
        }
      }
    }
  }
}
