@import "variables";

:host {
  display: block;
  @extend %main-gradient;
}

.jumbo-wrapper {
  padding-top: 60px;
  padding-bottom: 25px;
  min-height: 89vh;
  display: flex;
  align-content: space-between;
  justify-content: center;
  overflow: hidden;

  .jumbo-container {
    .headline {
      width: 100%;
      color: #ffffff;
      margin-bottom: 15px;
      .title {
        color: #ffffff;
        margin-bottom: 15px;
        @media (max-width: 1100px) {
          text-align: center;
        }
      }
    }

    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .image {
      margin-top: 20px;
      width: 250px;
      height: auto;

      @media (max-width: 1100px) {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        width: 250px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .jumbo-content {
      position: relative;
      margin-left: 60px;
      width: 70%;

      @media (max-width: 1100px) {
        width: 100%;
        margin-left: 0px;
      }

      .feedback {
        margin-top: 25px;
        background: none;
        min-height: 150px;
        display: flex;
        align-content: space-between;
        padding: 10px;
        padding-top: 0px;
        border-color: #ffffff;
        border-style: dashed;

        .feedbacktext {
          width: 100%;
          .link {
            user-select: none;
            color: #ffb733;
          }
        }
      }
    }
  }
}
