@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/bahnschrift.ttf");
}

@font-face {
  font-family: "Ariblk";
  src: url("assets/fonts/ariblk.ttf");
}

@font-face {
  font-family: "Thaisan";
  src: url("assets/fonts/thaisan.ttf");
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  line-height: 1.4;
}
