html {
  background: $background-gray;
}
$highlight-color: $secondary-color;

/*** Works on common browsers ***/
::selection {
  background-color: $highlight-color;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: $highlight-color;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: $highlight-color;
}

::-ms-selection {
  background-color: $highlight-color;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: $highlight-color;
}
