@import 'variables';

.jumbo-wrapper {
  min-height: 60vh;
  position: relative;
  @extend %main-gradient;
  display: flex;
  .jumbo-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::before {
      height: 60px;
      content: "";
    }
    .jumbo-middle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;
      }
      .smallpic {
        height: 250px;
        padding-bottom: 20px;
      }
      .largepic {
        width: 400px;
        margin-right: 40px;
        margin-top: -50px;
        margin-bottom: -50px;
        @media (min-width: 1300px) {
          margin-left: -250px;
          margin-right: 150px;
          width: 500px;
        }
      }
      .jumbo-headline {
        padding-left: 50px;
        @media (max-width: 900px) {
          padding-right: 50px;
        }
        @media (max-width: 450px) {
          padding-right: 0px;
          padding-left: 0px;
        }
        .title {
          color: #FFFFFF;
        }

        .subtitle {
          text-align: justify;

          @media (max-width: 900px) {
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;

          }

          @media (max-width: 500px) {
            text-align: center;
          }
        }
      }
    }
    .ethlogo {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 40px;
    }
  }
}
