<!-- TODO-FIVERR1: Navbar should be really sticky and shouldn't move around -->
<div class="navbar">
  <div class="navbar-left">
    <a class="navbar-button logo-image-wrapper" routerLink="/">
      <img src="/assets/img/logos/taskbase.svg"
           class="logo-image"
           alt="">
    </a>
  </div>
  <div class="navbar-middle">
    <!-- nothing here yet -->
  </div>
  <div class="navbar-right">
    <div class="tablet-and-desktop-menu">
      <app-menu-items></app-menu-items>
    </div>
    <div class="mobile-menu">
      <button mat-raised-button (click)="sidenavState.open = !sidenavState.open" color="primary">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
</div>
