@import 'variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @extend %background-white;
  box-shadow: 0 3px 5px rgba(0,0,0,.05);
}

.navbar {
  font-size: 16px;
  min-height: $navbar-height;
  display: flex;
  align-items: center;
  margin: 0 20px;

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-image-wrapper {
      display: flex;
      align-items: center;
      .logo-image {
        height: 30px;
      }
    }

  }
  .navbar-middle {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;

    .tablet-and-desktop-menu {
      @media (max-width: $breakpoint-s-max) {
        display: none;
      }
    }
    .mobile-menu {
      @media (min-width: $breakpoint-m-min) {
        display: none;
      }
    }

  }
}
