<div class="grad1 tb-temp-landing-wrapper full-width">
  <div class="container">
    <div class="row" style="padding: 20px 0">
      <div class="col-sm-5 hidden-xs">
        <img ng-src="/assets/img/teachercloud.svg" alt="Teacher"
             style="max-width: 100%; max-height: 400px; height: 400px;">
      </div>
      <div class="col-sm-7 col-xs-12">
        <h1 style="color: white; font-size: 40px;">
          <b>Interaktive Lernlösungen,<br> die mitdenken</b>
        </h1>
        <br>
        <div style="color: white; font-size: 16px; text-align: justify;">
          Wir entwickeln interaktive Lernlösungen, die Lernerfolge beflügeln. Neueste
          Technologien aus den Bereichen der künstlichen Intelligenz und Machine Learning eröffnen
          neue didaktische Möglichkeiten.
        </div>
  
        <br><br><br>
        
        <div style="border-left: 4px solid white; padding-left: 10px; color: white">
          <b>Wichtige Info für SchülerInnen und Lehrpersonen:</b>
          <br>
          <p>
            Die Taskbase-App ist jetzt offiziell unter <b><a style="color: white" href="https://www.acadilly.com">www.acadilly.com</a></b> zu finden. Im Moment laufen die alte Taskbase-App und Acadilly noch parallel. Die alte Applikation wird aber gegen Ende Woche heruntergefahren. Es ist also am besten, wenn Sie gleich schon auf Acadilly wechseln!
          </p>
          <p>
            Ihre Kurse, die lieb gewonnenen Funktionalitäten und die mehreren 1’000 Aufgaben stehen Ihnen weiterhin zur Verfügung.
          </p>
          <p>
            Wir wünschen Ihnen schon heute viel Spass mit Acadilly!
          </p>
        </div>
        <br><br>
        <img src="/assets/img/logos/eth-spin-off.jpeg"
             height="50"
             alt="">
        
      </div>
    </div>
  </div>
</div>
