.tb-temp-landing-wrapper {

  display: flex;
  align-items: center;
  padding-top: 30px; padding-bottom: 30px;

  .banner-text {
    font-size: 50px;
    color: $white;

    .prominent {
      font-weight: 700;
    }
  }

  .bg-1 {
    background: $white;
  }

  .cd-scrolling-bg {
    min-height: 100%;
    background: $white;

    padding-left: 3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    margin-right: -3000px;
  }

}
