<div class="content-container">
  <div class="content">
    <div class="address">
      <h1 class="title"></h1>
      <h1 class="line">Taskbase AG</h1>
      <h1 class="line">Dreikönigstrasse 47</h1>
      <h1 class="line">8002 Zürich</h1>
    </div>
    <div class="address">
      <h1 class="title"></h1>
      <h1 class="line">info@taskbase.com</h1>
      <h1 class="line">079 817 74 19</h1>
      <div class="pics">
        <a
          id="address-fb-link"
          href="https://www.facebook.com/taskbasecom/"
          target="_blank"
        >
          <img
            src="/assets/img/team/socialmedia/facebook.png"
            class="pic"
            alt=""
        /></a>
        <a
          id="address-linkedin-link"
          href="https://www.linkedin.com/company/10857716/"
          target="_blank"
        >
          <img
            src="/assets/img/team/socialmedia/linkedin.png"
            class="pic"
            alt=""
        /></a>
        <a
          id="address-twitter-link"
          href="https://twitter.com/_taskbase"
          target="_blank"
        >
          <img
            src="/assets/img/team/socialmedia/twitter.png"
            class="pic"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
