.course-icon-wrapper {

  .course-name {
    color: $link-blue;
    font-weight: 600;
  }

  .course-title {
    color: $link-blue;
    cursor: pointer;
  }

  .course-element {
    margin-bottom: 5px;
  }

}
