@import 'variables';

:host {
  background-color: #FFFFFF;
  display: block;
  text-align: center;
}

.bannerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;

  .tech-title {
    width: 100%;
    margin-top: 30px;
    text-align: center;

    .title {
      color: #009688;
    }

    .tech-headline {
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;

      @media(min-width: 0px) and (max-width: 600px) {
        text-align: center;
      }

      margin-top: 25px;
      color: #009688;
    }
  }
}


