@import 'variables';

:host {
  position: relative;
  display: block;
  background: #FFFFFF;
}

.contentcontainer {
  padding-top: 45px;
  padding-bottom: 55px;


  .arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
  }

  .title {
    color: #454545;
    text-align: center;
    width: 100%;
    font-size: 30px;
  }

  .formcontainer {



    .form {

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .formelement {
        margin-right: 5px;
        margin-bottom: 5px;

      }

      .buttonwrap {
        margin-right: 25px;
      }

    }
  }

}

