.web-app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .the-main-content-part {
    flex-grow: 1;
    display: flex;
    width: 100%;
    #main-view {
      display: flex;
      width: 100%;
      > * {
        width: 100%;
      }
    }
  }
}
