<div class="question">

  <h2 class="title">

    <b>Nenne drei Elemente des nachfolgenden Textes, die für die Textsorte «Ansichtskarte» typisch sind.</b>
    <br>
    <br>
<i>
    Kawai, 22.09.2018
  <br>
  <br>
    Hallo Jens
  <br><br>
    Nach einer Fahrt quer durch Kalifornien mit eindrücklichen Küstenlandschaften, architektonischen Highlights und super feinen Fischgerichten geniessen wir nun die unglaubliche Natur auf den Paradiesinseln Hawaiis.
  <br>
    Ich schicke dir viele Sonnenstrahlen von der Westküste ins neblige St. Gallen, davon haben wir hier mehr als genug!
  <br><br>
    Flurina
  <br><br>
</i>
  </h2>

  <textarea placeholder=""
            rows="4"
            [value]="studentInput"
            (keyup)="doOnChange($event)"
            class="solution">
  </textarea>

</div>
