<div class="content-container" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <div class="testimonials" (touchstart)="onTouchstart($event)" (touchend)="onTouchend($event)">
    <button id="testimonials-left" class="control-wrapper"
         (click)="setActiveTestimonial(activeTestimonial-1)">
      <app-arrow [color1]="'#FA5C68'" [direction]="'left'" [height]=32></app-arrow>
    </button>
    <div class="slidecontent">
      <div class="picture">
        <div class="img">
          <img [src]="testimonials[activeTestimonial].pic"
               alt="">
        </div>
      </div>
      <div class="testimonial">
        <div class="sentence">
          <h2 class="green"><div [innerHTML]="testimonials[activeTestimonial].sentence"></div></h2>
        </div>
        <div class="name">
          <div>{{testimonials[activeTestimonial].name}}</div>
        </div>
        <div class="role">
          <div>{{testimonials[activeTestimonial].role}}</div>
        </div>
      </div>
    </div>
    <button id="testimonials-right" class="control-wrapper"
            (click)="setActiveTestimonial(activeTestimonial+1)">
      <app-arrow [color1]="'#FA5C68'" [direction]="'right'" [height]=32></app-arrow>
    </button>
  </div>
</div>
