.task-header-wrapper {

  [contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #ccc;
    display: block; /* For Firefox */
  }

  padding: 15px;
  background: $primary-light;

  .files .dragover {
    color: $link-blue;
  }

  .header-icon {
    font-size: 30px;
  }

  .header-label {
    font-size: 17px;
    color: $gray6;
  }

  .dropzone {
    height: 60px;
    width: 100%;
    border: 1px dashed $gray5
  }

  .remove-task {
    display: inline-block;
    color: $red;

    &:hover {
      cursor: pointer;
    }
  }

  .status-active {
    color: $green;
  }

  .status-inactive {
    color: $red;
  }
}
