{% spaceless %}
<!Doctype html>
<html lang="{{ craft.app.language }}">
	<head>
		{% include 'includes/_head' %}
		{{ head() }}
	</head>
	<body class="{{ craft.app.language }} {{ entry.section.handle ?? null }}">
		<div class="scrolling-container">
		
				{% include 'includes/_header' %}

			<main class="main"> 
				<h1 style="text-align: center; font-size: 3rem; margin: 5rem 0;">404 — Page not Found</h1>
			</main>

			{% include 'includes/_footer' %}

		</div>

		{% include 'components/_cookie-banner' %}

		<script type="text/javascript" src="/js/smooth-scrollbar.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
{% endspaceless %}
