<div class="testimonials">
  <button class="control-wrapper"
          (click)="setActiveTestimonial(activeTestimonial-1)">
    <img src="/assets/img/001-back.svg"
         height="25"
         width="25"
         alt="arrow-left">
  </button>
  <div class="slidecontent">
    
    <div class="picture">
      <div class="img">
        <img [src]="testimonials[activeTestimonial].pic"
             alt="">
      </div>
    </div>
    
    <div class="testimonial">
      <div class="sentence">
        <h1>&quot;{{testimonials[activeTestimonial].sentence}}&quot;</h1>
      </div>
      <div class="name">
        <div>{{testimonials[activeTestimonial].name}}</div>
      </div>
      <div class="role">
        <div>{{testimonials[activeTestimonial].role}}</div>
      </div>
    </div>
  </div>
  <button class="control-wrapper"
          (click)="setActiveTestimonial(activeTestimonial+1)">
    <img src="/assets/img/002-next.svg"
         height="25"
         width="25"
         alt="right">
  </button>
</div>
