input {
  outline-color: $primary-color;
  &.secondary {
    border: $orange;
    border-style: solid;
    border-width: 1px;
    outline-color: $orange;
  }
}

input, textarea {
  outline-color: $primary-color;
  border: none;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
