<div class="navbar"></div>
<div class="content-container">
  <div class="content-card">
    <img src="/assets/img/grammar/football.svg" class="image" />
    <div class="exercise-content">
      <img [src]="progressImagePath" class="progress" />
      <div *ngIf="loading === false">
        <app-task-by-title
          *ngIf="taskTitle != null; else taskTitleNullError"
          [taskTitle]="taskTitle"
          [description]="description"
          (inputChange)="onInputChange($event)"
          (retry)="onRetry()"
          (next)="onNext()"
        >
        </app-task-by-title>
        <ng-template #taskTitleNullError>
          <div class="empty-task-title-prefix">
            Please add the following URL-parameter
            <code>?{{ taskTitlePrefixQueryParam }}=some-title</code>. Tasks with
            title <code>some-title:0</code> will then be loaded in the first
            step and tasks with title <code>some-title:1</code> in the second
            one.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
