@import "variables";

$klett-navbar-height: 60px;

.navbar {
  height: $klett-navbar-height;
  width: 100%;
  background-color: $orange-klett;
}

.content-container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - #{$klett-navbar-height});
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-card {
  max-width: 900px;
  width: 900px;
  max-height: 600px;
  background-color: white;
  display: flex;
  align-items: center;
}

.exercise-content {
  width: 100%;
  height: 100%;
  padding: 38px 80px 20px 0;
  display: flex;
  flex-direction: column;
}

.interactive-question {
  flex-grow: 1;
}

.klett-button {
  background: $dark-blue-klett;
  border-radius: 4px;
  // There is a shifty layout problem
  width: 240px;
  height: 40px;
  padding: 0px;
  font-size: $font-size-default;
  // pull to the right
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.image {
  height: 210px;
  width: 224px;
  position: relative;
  right: 70px;
}

.progress {
  margin-left: auto;
  margin-right: 0;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.feedback-text {
  color: $dark-blue-klett;
}
