<div class="content-container">
  <div class="content-wrapper" id="offer">
    <div class="box">
      <img src="assets/img/idea.png" class="icon">
      <h2 class="title">Ihre Lernkonzepte<br></h2>
    </div>
    <div class="box">
      <img src="assets/img/plus.png" class="arrow-right">
    </div>
    <div class="box">
      <img src="assets/img/robo.png" class="icon">
        <h2 class="title">Unsere Technologien</h2>
    </div>
    <div class="box">
      <img src="assets/img/plus.png" class="arrow-right">
    </div>
    <div class="box">
      <img src="assets/img/hat.png" class="icon">
        <h2 class="title">Für Lernerfolge</h2>
    </div>
  </div>
</div>
