@import "variables";

.white-panel {
  background: white;
}

.werkzeugkasten {
  padding-top: 60px;
  text-align: center;
  color: $primary-color;
  @media(min-width: 800px) {
    h1 {
      font-size: 40px;
    }
  }
}
