.todo-list-item-wrapper {

  border-bottom: 1px solid $gray3;

  &:hover {
    background: $gray-hover;
    cursor: pointer;
  }

  .media-body {

    .media-content {
      color: $gray6;
    }

  }

}
