@import "variables";

.what-we-do {
  @extend %primary-inverse;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  padding: 50px;
  min-height: 250px;

  .text {
    text-align: center;
    max-width: 800px;
    font-weight: bold;
  }

}
