.content-wrapper {

  font-size: 15px;
  line-height: $golden-ratio;

  ul > li {
    //list-style-type: circle;
    display: list-item;
  }

  ol > li {
    //list-style-type: upper-roman;
    display: list-item;
  }

  .wysiwyg {

    text-align: justify;

    td {
      border: 1px solid $primary-light;
      padding: 5px;
    }

    //to alternate rows
    //tr:nth-child(odd) {
      //background-color: $primary-light;
    //}

    table {
      width: 100%
      //margin: 0 auto;
    }

    .latexsource {
      visibility: hidden;
    }

/*
    ol[type="a"] {
      counter-reset: list;
    }
    */


    ol[type="a"] > li {
      //list-style: none;
      margin-bottom: 5px;
    }
    /*
    ol[type="a"] > li:before {
      //content: "(" counter(list, lower-alpha) ") ";
      counter-increment: list;
    }*/


  }

  .editor {
    width: 100%;
    min-height: 300px;
    min-width: 300px;
  }


}
