//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');

@import './styles/custom-bootstrap';

@import './variables';
@import "./styles/theme";
@import './styles/html';
@import './styles/body';
@import './styles/a';
@import './styles/button';
@import './styles/forms';
@import './styles/img';
@import './styles/h1-h6';
@import './styles/ul';
@import './styles/input-and-textarea';


.content-container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.regular-page {
  padding-top: 20px;
  padding-bottom: 20px;
}
